<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version</title>
</head>
<body>
    <h3>Start Response</h3>
    <pre>{{ response }}</pre>
    <hr>
    <h3>Get Task</h3>
    <form method="post">
        <label for="task_id">Task_id:</label>
        <input type="text" name="task_id" id="task_id" value="{{ task_id }}" placeholder="{{ task_id }}">
        <br>
        <input type="submit" value="Get Task">
    </form>
</body>
</html>