{% extends 'auth/base.html' %}

{% block content %}

{% if id %}
    <h1>{{ id }} exist</h1>
{% else %}
    <h1>Input your ID</h1>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.id.label(
            class="form-label"
        ) }}
        {{ form.id(
            class="form-control"
        ) }}
        {{ form.password.label(
            class="form-label"
        ) }}
        {{ form.password(
            class="form-control"
        ) }}
        <br>
        {{ form.submit(
            class="btn btn-secondary"
        ) }}

    </form>

    <br><br><br>

{% endif %}

{% endblock %}